* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4c669f, #3b5998, #192f6a);
    color: #fff;
}
/* Barre de navigation */
.navbar {
    background-color: #000;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar h1 {
    font-size: 24px;
    color: #fff;
}
.navbar ul {
    list-style-type: none;
    display: flex;
}
.navbar ul li {
    margin-left: 20px;
    font-size: 18px;
    cursor: pointer;
}
.navbar ul li:hover {
    text-decoration: underline;
}
/* Section des projets */
.projects {
    margin: 40px auto;
    padding: 20px;
    max-width: 1200px;
}
.project {
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
}
/* Animation */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.project h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #fff;
}
.project p {
    font-size: 16px;
    line-height: 1.6;
    color: #ddd;
}




/* Mode sombre */
body.darkmode {
    background: linear-gradient(135deg, #2c3e50, #34495e, #1a242f);
    color: #ecf0f1;
}

.navbar.darkmode {
    background-color: #333;
}

.navbar.darkmode h1 {
    color: #ecf0f1;
}

.navbar.darkmode ul li {
    color: #ecf0f1;
}

.navbar.darkmode ul li:hover {
    text-decoration: none;
}

.projects.darkmode .project {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.project.darkmode h2 {
    color: #ecf0f1;
}

.project.darkmode p {
    color: #bdc3c7;
}


/* Physique Boutton DarkMod */
.darkmode-toggle {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    outline: none;
}
/*Animation*/

.darkmode-toggle:hover {
    background-color: #555;
    transform: scale(1.1);
}

.darkmode-toggle:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

/* Icône de lune */
.darkmode-toggle:before {
    content: "🌙";
    margin-right: 8px;
}

/* Changement De Icon */
body.darkmode .darkmode-toggle:before {
    content: "☀️";
}
